
h1 {
    font-weight: 700;
    font-size: 44px;
    color: #21243D;
    margin-bottom: 55px;
}

h2 {
    font-weight: 500;
    font-size: 30px;
    color: #21243D;
    margin-bottom: 16px;
}

section {
    padding: 50px 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

hr {
    color: #E0E0E0;
    margin: 30px 0;
}

.container {
    margin: 0 auto;
    width: min(90%);
}

.date {
    font-weight: 400;
    font-size: 20px;
    color: #21243D;
}

.line {
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 21px;
    position: relative;
    top: 4px;
}

.keywords {
    font-weight: 400;
    font-size: 20px;
    color: #8695A4;
}

.description {
    font-weight: 400;
    font-size: 16px;
    color: #21243D;
    margin-top: 6px;
}

@media only screen and (max-width: 600px) {
    h1 {
        margin-bottom: 18px;
        font-size: 30px;
        line-height: 60px;
    }

    section {
        padding: 18px;
    }
}