section {
    width: 100%;
    display: flex;
    justify-content: center;
}

p,
h1 {
    color: #21243D;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

input, 
textarea {
    border: 1px solid #E0E0E0;
}

.container {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.upper-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 100px;
}

.first-contact {
    margin-top: 10px;
}

.contact {
    width: fit-content;
    display: flex;
    align-items: center;
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
    padding: 10px;
}

.contact:last-of-type {
    margin-bottom: 0;
}

.icons {
    width: 20px;
    margin-right: 10px;
}

.upper-left {
    text-align: initial;
    overflow: hidden;
    width: 500px;
}

.contact-me {
    color: #FF6464;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.upper-right {
    border: 1px solid #E0E0E0;
    background-color: #EDF7FA;
    padding: 30px;
    width: 400px;
}

.input {
    height: 40px;
    width: 335px;
    margin-bottom: 10px;
    padding: 10px;
}

.input::placeholder {
    color: #E0E0E0;
}

.message {
    resize: none;
    width: 335px;
    margin-bottom: 10px;
    padding: 10px;
}

.message::placeholder {
    color: #E0E0E0;
}

.input-btn {
    height: 40px;
    width: 335px;
    background-color: #FF6464;
    color: #FFF;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #E0E0E0;
    background-color: #EDF7FA;
    margin-bottom: 100px;
    width: 980px;
    padding: 50px;
}

.news {
    width: 500px;
    display: flex;
    align-items: center;
}

.news p {
    font-size: 28px;
    font-weight: 700;
}

.newsletter {
    width: 80px;
    min-width: 80px;
    height: 80px;
    background-color: #FFF;
    border-radius: 50%;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
    padding-bottom: 4px;
}

.newsletter img {
    width: 50px;

}

.news-subscription {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text-input {
    height: 40px;
    width: 200px;
    padding: 10px;
    margin-right: 10px;
}

.subscribe-btn {
    height: 40px;
    width: 120px;
    background-color: #FF6464;
    color: #FFF;
}

@media only screen and (max-width: 600px) {
    .container,
    .upper-container,
    .upper-left,
    .upper-right,
    .bottom-container {
        width: 300px;
    }

    .input,
    .message,
    .input-btn {
        width: 278px;
    }

    .container {
        padding: 10px;
    }

    .upper-container {
        flex-direction: column;
    }

    .upper-left {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .upper-right {
        padding: 10px;
    }

    .bottom-container {
        flex-direction: column;
        padding: 10px;
    }

    .news,
    .news-subscription {
        flex-direction: column;
        width: fit-content;
    }

    .news {
        text-align: center;
        margin-bottom: 10px;
    }

    .newsletter {
        margin-right: 0;
    }

    .text-input,
    .subscribe-btn {
        width: 278px;
    }

    .text-input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    

    
}