footer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20.56px;
    text-align: center;
    margin-bottom: 54px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
    margin-top: 51px;
}

.icon {
    width: 30px;
}

.facebook-icon {
    background-image: url(/images/fb.svg);
    margin-right: 35px;
}

.instagram-icon {
    background-image: url(/images/insta.svg);
    margin-right: 35px;
}

.twitter-icon {
    background-image: url(/images/Group.svg);
    margin-right: 35px;
    width: 36.92px;
    height: 30px;
}

.linkedin-icon {
    background-image: url(/images/Linkedin.svg);
}
