nav {
    margin: 0 auto;
    width: min(90%);
    padding: 27px 60px;
    text-align: right;
}

nav a {
    margin-left: 33px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29.38px;
    text-decoration: none;
    color: #000000;
}

.navbar a:hover {
    color: red;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar-icon {
    display: none;
    margin: 7px 0 0 7px;
}

.navbar-line {
    width: 20px;
    height: 2px;
    background-color: black;
    margin-bottom: 3px;
}

@media only screen and (max-width: 600px) {
    
    .navbar-icon {
        display: block;
    }

    .navbar-text {
        display: none;
    }

    section {
        padding: 18px;
    }
}
