nav {
    margin: 0 auto;
    width: min(90%);
    padding: 27px 60px;
    text-align: right;
}

nav a {
    margin-left: 33px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29.38px;
    text-decoration: none;
    color: #000000;
}

.navbar a:hover {
    color: red;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.active {
    color: red;
}

.navbar-icon {
    display: none;
    cursor: pointer;
}

.navbar-line {
    width: 30px;
    height: 2px;
    background-color: black;
    margin-bottom: 9px;
}

@media only screen and (max-width: 600px) {
    .navbar-icon {
        display: block;
        margin-bottom: 30px;
    }

    .navbar-text {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        padding: 38px 18px 12px 18px;
        height: 83px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
        transition: 0.3s;
    }

    .navbar a {
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .navbar.open {
        height: auto;
    }

}
