* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

body {
    max-width: 100vw;
}

.navbar {
    padding: 27px 60px;
    text-align: right;
}

.navbar a {
    margin-left: 33px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29.38px;
    text-decoration: none;
    color: #000000;
}

header {
    padding: 140px 149px 71px 148px;
    display: flex;
    justify-content: space-around;
}

.relative-header {
   display: flex;
   justify-content: center;
}

text {
    margin-right: 101px;
}

.text h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 40px;
    color: #21243D;
    
}

.text p {
    line-height: 23.5px;
    margin-bottom: 38px;
    color: #21243D;

}

.text button {
    color: #FFFFFF;
    background-color: #FF6464;
    border-radius: 2px;
    width: 208px;
    height: 47px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29.38px;
    border: none;
}

.profile-picture {
    background-image: url(/images/ellipse-1.svg);
    width: 243px;
    height: 243px;
    min-width: 243px;
    border-radius: 50%;
    position: absolute;
}

.picture-shadow {
    position: relative;
    right: 5px;
    top: 13px;
    width: 243px;
    height: 243px;
    min-width: 243px;
    border-radius: 50%;
    background-color: #EDF7FA;
}
